* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background-image: url('/static/imatges/fondo_detalles.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.5;
    padding: 20px;*/
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px;
    /*background-color: #FFFFFF; /* Azul oscuro */
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #ffcb05;
    text-shadow: 4px 4px 8px #3d7dca;
}

header p {
    font-size: 1.1em;
    margin-top: 8px;
    color: #ffcb05
}

/* Contenedor principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #fff;*/
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Títulos de secciones */
section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #ffcb05;
    text-shadow: 2px 2px #3d7dca
}

/* Listado de generaciones */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #e9e9e9;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    /*border: 1px solid #ddd;*/
}

h3 {
    color:  #FF1C1C;
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* Detalles de gimnasio */
p {
    font-size: 1.0em;
    margin: 5px 0;
    color: #ffcb05;
}

span{
    font-size: 1.0em;
    margin: 5px 0;
    color: #ffcb05;
}

/* Enlace */
a {
    font-size: 0.9em;
    color: #FF1C1C;
    text-decoration: none;
}


/* Imagen del líder de gimnasio */
.foto-lider {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 10px;
    border: 0px solid #ddd;
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('/fonts/PokemonSolid.ttf') format('truetype');
}

}