<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalles de la ' + ${generacion.nom}"> </title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/Diseño.css">
</head>
<body>
<header>
    <h1 th:text="${generacion.nom}"></h1>
    <p>Año de lanzamiento: <span th:text="${generacion.any_lanzamiento}"></span></p>
    <p>Juegos de esta generación: <span th:text="${#strings.arrayJoin(generacion.jocs, ', ')}"></span></p>
</header>

<main>
    <section>
        <h2>Gimnasios y Pruebas de esta Generación</h2>
        <ul>
            <li th:each="gimnasio : ${generacion.gimnassos}">
                <h3 th:text="${gimnasio.nom}"></h3>
                <img th:src="@{${gimnasio.fotoUrl}}" alt="Foto del lider de gimnasio" class="foto-lider">
                <p>Líder: <span th:text="${gimnasio.lider}"></span></p>
                <p>Tipo: <span th:text="${#strings.arrayJoin(gimnasio.tipus, ', ')}"></span></p>
                <p>Equipo Pokemon:</p>
                <span th:each="pokemon : ${gimnasio.pokemons}">
                <span th:text="${pokemon}"></span><br>
                </span>
            </li>
        </ul>
    </section>

    <a href="index.html" class="button">Volver a la página principal</a>
</main>
</body>
</html>
