<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Principal - Generaciones Pokémon</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <h1>Generaciones de Pokémon</h1>
    <p>¡¡Explora las diferentes generaciones de Pokémon y conoce sus gimnasios y pruebas!!</p>
</header>

<main>
    <section>
        <h2>Lista de Generaciones</h2>
        <ul>
            <li th:each="generacion : ${generacions}">
                <h3 th:text="${generacion.nom + ' (' + generacion.any_lanzamiento + ')'}"></h3>
                <p>Juegos: <span th:text="${#strings.arrayJoin(generacion.jocs, ', ')}"></span></p>
                <p>Ubicación: <span th:text="${generacion.localitzacio}"></span></p>
                <a th:href="@{'detalles_' + ${generacion.id} + '.html'}">Ver detalles de gimnasios y pruebas</a>
            </li>
        </ul>
    </section>
</main>
</body>
</html>